svg {
    width:65%;
    height: 65%;
    padding-bottom: 50vh;
}

svg path {
    stroke-dasharray: 0;
    stroke-dashoffset: 0;
    stroke-width: 4;
    stroke: #111;
    fill: none;
}

svg line {
    opacity: 0;
    fill: none;
    transition: opacity 0.2s ease;
}

.box{
    position: absolute;
    /*
    border-radius: 1rem;border: 1px solid red;
    border-radius: 1rem;
    */
    padding: 1rem 1.5rem;
    max-width: 22rem;
    transition: opacity 0.5s ease;
}

.box h4{
    font-size: 1.4rem;
    font-weight: 600;
}

.box h6{
    font-size: 1.1rem;
    font-weight: 600;
}

.box h6{
    font-size: 1.1rem;
    font-weight: 600;
}

#box01{
    top: 14%;
    left: 3rem;
    /*background-color: rgba(255, 0, 0, 0.2);*/
}

#box02{
    top: 42%;
    right: 5rem;
}


#box03{
    top: 69%;
    left: 20rem;
}

.line-visible {
    opacity: 1;
    transition: opacity 0.5s ease;
    /* Puedes ajustar la duración y la función de transición según tus preferencias */
}

.line-hidden {
    opacity: 0;
    transition: opacity 0.5s ease;
    /* Ajusta la duración y la función de transición según tus preferencias */
}
.theLine{
    z-index: 100;
}

.line01{
    stroke: red;
}

.line02{
    stroke: green;
}

.line03{
    stroke: orange;
}

.theLine01 {
    stroke: red;
}

.theLine02 {
    stroke: green;
}

.theLine03 {
    stroke: orange;
}