.counter {
    display: inline-block;
    position: sticky;
    position: -webkit-sticky;
    width: 100%;
    height: 0;
    text-align: center;
    top: 50%;
    left: 0;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.temp-line svg {
    width: 52%;
    height: 52%;

}

.temp-line svg path {
    stroke-dasharray: 0;
    stroke-dashoffset: 0;
    stroke-width: 4;
    stroke: #111;
    fill: none;
}

.temp-line svg line {
    opacity: 0;
    fill: none;
    transition: opacity 0.2s ease;
}

.box {
    position: absolute;
    padding: 1rem 1.5rem;
    max-width: 22rem;
    transition: opacity 0.5s ease;
}

.box h4 {
    font-size: 1.4rem;
    font-weight: 600;
}

.box h6 {
    font-size: 1.1rem;
    font-weight: 600;
}

.box h6 {
    font-size: 1.1rem;
    font-weight: 600;
}

#box01 {
    top: 17%;
    left: 14rem;
}

#box02 {
    top: 48.5%;
    right: 9rem;
}

#box03 {
    top: 80.5%;
    left: 26rem;
}

.line-visible {
    opacity: 1;
    transition: opacity 0.5s ease;
}

.line-hidden {
    opacity: 0;
    transition: opacity 0.5s ease;
}

.line01 {
    stroke: red;
}

.line02 {
    stroke: green;
}

.line03 {
    stroke: orange;
}

.temp-line .theLine01 {
    stroke: red;
}

.temp-line .theLine02 {
    stroke: green;
}

.temp-line .theLine03 {
    stroke: orange;
}

@media (min-width: 1580px) and (max-width: 1690px) {
    #box01 {
        left: 10rem;
    }

    #box02 {
        right: 6rem;
    }

    #box03 {
        left: 20rem;
    }
}

@media (min-width: 1500px) and (max-width: 1580px) {
    #box01 {
        left: 8rem;
    }

    #box02 {
        right: 4rem;
    }

    #box03 {
        left: 17rem;
    }
}

@media (min-width: 1450px) and (max-width: 1500px) {
    #box01 {
        left: 6rem;
    }

    #box02 {
        right: 3rem;
    }

    #box03 {
        left: 16rem;
    }
}

@media (min-width: 1300px) and (max-width: 1450px) {
    .box {
        --tw-blur: blur(3px);
        backdrop-filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);

    }

    #box01 {
        left: 5rem;
    }

    #box02 {
        right: 3rem;
    }

    #box03 {
        left: 14rem;
    }
}

@media (min-width: 900px) and (max-width: 1300px) {
    .temp-line svg {
        width: 80%;
        height: 80%;
    }

    .box {
        --tw-blur: blur(3px);
        backdrop-filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);

    }

    #box01 {
        left: 0rem;
    }

    #box02 {
        right: 0rem;
    }

    #box03 {
        left: 5rem;
    }
}


@media (min-width: 300px) and (max-width: 900px) {
    .temp-line svg {
        width: 100%;
        height: 100%;
    }

    .box {
        --tw-blur: blur(3px);
        backdrop-filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);

    }

    #box01 {
        left: 0rem;
    }

    #box02 {
        right: 0rem;
    }

    #box03 {
        left: 0rem;
    }
}