#cloud-sphere {}

.text-mesh {
  transition: transform 0.2s ease-in-out;
}

/* Establece el tamaño aumentado cuando se hace hover */
.text-mesh:hover {
  transform: scale(1.8);
}

@media (min-width: 1600px) and (max-width: 1920px) {
  canvas {
    height: 900px !important;
    width: 900px !important;
  }
}


@media (min-width: 900px) and (max-width: 1600px) {
  canvas {
    height: 750px !important;
    width: 750px !important;
  }
}


@media (min-width: 700px) and (max-width: 900px) {
  canvas {
    height: 680px !important;
    width: 680px !important;
  }
}

@media (min-width: 500px) and (max-width: 700px) {
  canvas {
    height: 490px !important;
    width: 490px !important;
  }
}

@media (min-width: 400px) and (max-width: 500px) {
  canvas {
    height: 390px !important;
    width: 390px !important;
  }
}

@media (min-width: 300px) and (max-width: 400px) {
  canvas {
    height: 290px !important;
    width: 290px !important;
  }
}

@media(max-width: 300px) {
  canvas {
    height: 200px !important;
    width: 200px !important;
  }
}