.navbar {
  position: fixed;
  top: 0;
  z-index: 9999;
  height: 8vh;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(25px);
  color: var(--text-white);
}

.navbar ul li a {
  font-weight: 600;
}

.navbar ul li:hover {
  transform: scale(1.20)
}