.sizereg {
  margin-top: 8vh;
  height: 92vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.imagen{
  height: 27rem;
  width: 27rem;
}

.entry {
  height: 100%;
}

.lottie {
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}

.entry h1 {
  font-size: 4rem;
  line-height: 6rem;
}

.entry p {
  padding-top: 1rem;
  max-width: 60ch;
  font-weight: 600;
  font-size: 1.15rem;
}

/* Media query para tamaños menores a 'md' */
@media (min-width: 750px) and (max-width: 1280px) {
  .entry {
    flex-direction: column;
    /* Cambia la dirección del flex a columna */
    align-items: center;
    /* Alinea el contenido al centro verticalmente */
  }

  /* Ajusta los estilos según tus necesidades para la disposición vertical */
  .boujee-text {
    /* Reduce el tamaño del texto */
    margin-bottom: 10px;
    /* Espacio entre el título y el párrafo */
  }
}

@media (min-width: 630px) and (max-width: 750px) {
  .entry .imagen {
    width: 23rem;
    height: 23rem;
  }
  .texto {
    text-align: center;
  }

  .entry {
    flex-direction: column;
    /* Cambia la dirección del flex a columna */
    align-items: center;
    /* Alinea el contenido al centro verticalmente */
  }

  /* Ajusta los estilos según tus necesidades para la disposición vertical */
  .boujee-text {
    /* Reduce el tamaño del texto */
    margin-bottom: 10px;
    /* Espacio entre el título y el párrafo */
  }
}

@media (min-width: 490px) and (max-width: 630px) {
  .entry .imagen {
    width: 22rem;
    height: 22rem;
  }
  .texto {
    text-align: center;
  }

  .texto h1 {
    line-height: 4rem;
    font-size: 3rem;
  }

  .texto p {
    font-size: 1.1rem;
  }

  .entry {
    flex-direction: column;
    /* Cambia la dirección del flex a columna */
    align-items: center;
    /* Alinea el contenido al centro verticalmente */
  }

  /* Ajusta los estilos según tus necesidades para la disposición vertical */
  .boujee-text {

    /* Reduce el tamaño del texto */
    margin-bottom: 10px;
    /* Espacio entre el título y el párrafo */
  }
}

@media (min-width: 350px) and (max-width: 490px) {
  .entry .imagen {
    width: 20rem;
    height: 20rem;
  }

  .texto {
    text-align: center;
  }

  .texto h1 {
    line-height: 3rem;
    font-size: 2rem;
  }

  .texto p {
    font-size: 1rem;
  }

  .entry {
    flex-direction: column;
    /* Cambia la dirección del flex a columna */
    align-items: center;
    /* Alinea el contenido al centro verticalmente */
  }

  /* Ajusta los estilos según tus necesidades para la disposición vertical */
  .boujee-text {
    /* Reduce el tamaño del texto */
    margin-bottom: 10px;
    /* Espacio entre el título y el párrafo */
  }
}

@media (max-width: 350px) {
  .entry .imagen {
    width: 17rem;
    height: 17rem;
  }

  .texto {
    text-align: center;
  }

  .texto h1 {
    line-height: 3rem;
    font-size: 2rem;
  }

  .texto p {
    font-size: 1rem;
  }

  .entry {
    flex-direction: column;
    /* Cambia la dirección del flex a columna */
    align-items: center;
    /* Alinea el contenido al centro verticalmente */
  }

  /* Ajusta los estilos según tus necesidades para la disposición vertical */
  .boujee-text {
    /* Reduce el tamaño del texto */
    margin-bottom: 10px;
    /* Espacio entre el título y el párrafo */
  }
}